# Eclipse
*.launch
.metadata/
.settings/
.classpath
.project

# 4diac-IDE
4diac-ide/**/bin/
4diac-ide/**/out/
4diac-ide/.metadata/
/project/SINF_0/

# Virtualenv local
/SINF/

# Grafana: versionar toda a pasta, mas ignorar plugins e provisioning
docker/data/grafana/plugins/
docker/data/grafana/provisioning/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Arquivos compactados
*.tar.gz
*.zip

# Permitir o .zip de backup do sinf, se houver
!sinf.zip
